/*
li::before {
  content: counter(item) ".";
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 1rem;
}
*/